
.flex-container {
    display: flex;
    width: 50%;
    max-width: 15rem;
    border: 1px solid green;
    padding: 1rem;
    flex-wrap: wrap;
    height: 10rem;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.flex-container > div {
    width: 6rem;
    border: 1px solid red;
}