
.grid-container {
    width: 80%;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 30px;
}
.grid-container > div {
    background-color: lightblue;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
}

#item1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

#item6 {
    grid-column-start: 1;
    grid-column-end: 4;
}
